<!-- Start Template Driven Form End -->

<!-- <div class="container my-3">
  <h1>Angular Template Driven Form</h1>
<form #useForm="ngForm" (ngSubmit)="onSubmit(useForm.value)" >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input #email="ngModel" id="email" required type="email" class="form-control" ngModel name="email" >
    <span *ngIf="email.invalid && email.touched" class="error">email is required</span>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input #password="ngModel" id="password" type="password"  minlength="3" class="form-control" ngModel id="password" name="password">
    <span *ngIf="password.invalid && password.touched" class="error">password is required</span>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div> -->


<!-- Template Driven Form End -->

<!-- start Reactive form -->
<div class="container my-3">
  <h1>Angular Reactive Form</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userDetail">
    <input type="text" name="username" formControlName="username"><br>
    <small class="text-danger"
    *ngIf="!loginForm.get('userDetail.username')?.valid && loginForm.get('userDetail.username')?.touched">please enter valid username</small><br><br>
    <input type="password" name="password" formControlName="password"><br>
    <small class="text-danger"
    *ngIf="!loginForm.get('userDetail.password')?.valid && loginForm.get('userDetail.password')?.touched">please enter valid password</small><br><br>
  </div> 
  <button type="submit">Login</button>
</form>
</div>
<!-- end Reactive form -->



<a routerLink="/add_form">
  <button>Please Click on Form Add</button>
</a>
<router-outlet></router-outlet>
