.plus_btn{
    font-size: 50px;
    margin-right: 2.8rem;
    position: relative;
    top: 4rem;
}
.task-form{
   display: flex;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
    box-shadow: 0 0 13px inset rgba(255,0,0,0.2);
}